################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/Debug
/obj
/.vs/InSiteXmlClient4Core/DesignTimeBuild
/.vs/InSiteXmlClient4Core/v16/.suo
